body {

   background-color: #cccccc;
    height: 100%; 
   /* background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
/*
* Autor: RannFerii
* Alinear vertical y horizontalmente el div central
*/
.central {
    width: 620px;
    margin-top: 5%;
    margin-left: 3%;
    height: 533px;
    padding-left: -6px;
}

/*
* Autor: RannFerii
* Cuadro= 30x30 px cuadrados
*/
.cuadro {
  width: 27px;
  height: 27px;
}

/*
* Autor: BacteriaLoki
* Clase ficha con la que se dibuja la ficha.
* se posiciona en la esquina superior izquierda de las TH
*/
.ficha {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
	margin: -25px 0px 0px -10px;
	background: lightgrey;
}

/*
 * Autor: Josué Zapata
 * Sobreescritura de las clases del template para acomodar componentes y ajustar la interfaz
 */

.wrap-login100 {
    width: 550px;
    background: #ffff;
    border-radius: 10px;
    display: -moz-box;
    display: -ms-flexbox;
    padding:0; margin:0;
}

 /*  Bakcgound*/
 .container-login100 {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.section-jugador{
     width: 223px;
}