/*Clase ficha con la que se dibuja la ficha y se posiciona en la esquina superior izquierda de las TH*/
.ficha 
{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: purple;
	z-index: 1;
	position: absolute;
	margin: -25px 0px 0px -10px;
}